
<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h2>Quiz Application</h2>
        </div>
        <div class="col-md-4 header-right" ng-hide="mode=='result'">
        <span><bold>Time:</bold></span>  {{timer}}
        
    </div>
    </div>
    <hr />
</div>
<div id="quiz">
    <div ng-show="mode=='quiz'">
        
        <div ng-repeat="question in filteredQuestions">
            <div class="col-md-12 label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="col-md-12 question">
                <div class="col-md-6">
                <h2>{{currentPage}}. <span ng-bind="question.name"></span></h2>
                </div>
                <div class="col-md-6 option-box" ng-show="!question.isSubjective">
                    <div class="options">
                        <div ng-repeat="option in question.options">
                            <label for="{{option.Id}}">
                                <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-click="onSelect(question, option);"/>
                                {{option.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 option-box" ng-show="question.isSubjective">
                    <div class="subjective" >
                            <textarea rows="10" cols="100" ng-model="question.subjective">
                                </textarea>
                    </div>
                </div>
            </div>
            <div class="quizNav">
            <div>
                <button class="btn btn-primary" ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-click="onSubmit();">Submit Quiz</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
        </div>
        <hr />
    </div>
    <div class="review" ng-show="mode=='review'">
        <div ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div>
                <h4>Your score is {{result}}.</h4>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
</div>